.qrVideo>section>div{
    max-width: 20%;
    height: 200px;
}

* {
    margin: 0;
    font-family: 'Poppins';
    padding: 0;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    background-color: #333;
    color: #fff;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 1rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .login-button {
    background-color: #fff;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
  }
  .loginContainer,
  .signupContainer {
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 80px;
    border: none;
    position: relative;
  }
  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  .username,
  .password,
  .name,
  .lastname,
  .num {
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
  }
  .btn {
    background-color: #ff782d;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    height: 50px;
    font-size: 18px;
  }
  
  .loginContainer,
  .signupContainer {
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 80px;
    border: none;
    position: relative;
  }
  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 20px;
    background-color: black;
    border-radius: 50%;
    height: 25px;
    color: white;
    width: 25px;
    overflow: hidden;
    cursor: pointer;
  }
  .username,
  .password,
  .name,
  .lastname,
  .num {
    padding: 8px;
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
  .loginButton {
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    height: 50px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
  }
  
  /* details section */
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1.5rem;
  }
  
  .header {
    margin-bottom: 40px;
  }
  
  .label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  
  .input-field {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .select-field {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .textarea-field {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    background-color: black;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 45px;
    margin-top: 20px;
    width: 150px;
    font-size: 18px;
  }
  
  /* qr code section */
  .qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .white-popup {
    position: fixed;
    top: 30%;
    left: 38%;
    background: #fff;
    padding: 25px;
    width: 50vh;
    height: 50vh;
    margin: 0 auto;
  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    border: 1px solid black;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .mfp-zoom-in {
    /* start state */
    .mfp-with-anim {
      opacity: 0;
      transition: all 0.2s ease-in-out;
      transform: scale(0.8);
    }
  
    &.mfp-bg {
      opacity: 0;
      transition: all 0.3s ease-out;
    }
  
    &.mfp-ready {
      .mfp-with-anim {
        opacity: 1;
        transform: scale(1);
      }
      &.mfp-bg {
        opacity: 0.8;
      }
    }
  
    &.mfp-removing {
      .mfp-with-anim {
        transform: scale(0.8);
        opacity: 0;
      }
      &.mfp-bg {
        opacity: 0;
      }
    }
  }
  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 20px;
    background-color: black;
    border-radius: 50%;
    height: 29px;
    color: white;
    width: 28px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .qr-header {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .button1 {
    background-color: black;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 45px;
    width: 150px;
    font-size: 18px;
    margin-top: 25px;
  }
  
  /* dashboard */
  .dash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .dashboard-table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    align-items: center;
  }
  
  .dashboard-table th,
  .dashboard-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .dashboard-table th {
    background-color: #f2f2f2;
  }
  
  .dashboard-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .dashboard-table tbody tr:hover {
    background-color: #e0e0e0;
  }
  
  .dashboard-table td {
    max-width: 200px; /* Set a max-width for the content */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  

  /* Generator */


  .label1 {
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 25px;
  }
  
  .input1 {
    padding: 10px;
    margin-left: 20px;
  }
  .button3 {
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 35px;
    width: 190px;
    font-size: 15px;
  }
  .print-button{
    border: 1px solid black;
    background-color: transparent;
    border-radius: 4px;
    height: 35px;
    width: 150px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
  }
  .qr-code-container {
    display: flex;
    flex-wrap: wrap;  
    margin-top: 30px;
  }
  
  .qr-code-row {
    display: flex;
    justify-content: center;
  }
  
  .qr-code {
    width: 173px;
    height: 71px;
    align-items: flex-end;
  }
  .qr-code-content {
    display: flex;
    align-items: center;
  }
  
  .qr-code img {
    margin-left: 1px;
  }
  
  
  .tilted-wrapper {
    display: flex;
    align-items: center;
  }
  
  .tilted-text {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 4px;
    margin-right: 2px;
    letter-spacing: -2px;
  }
  .float,.floatdiv{
    position: absolute;
  }
  .float,.floatdiv>h6{
    font-size: 4px;
  }
  .float{
    top: 1.4px;
    left: 14px;
  }
  .floatdiv{
    bottom: 2px;
    display: flex;
    align-items: center;
    width: 100%;
    right: -4px;
    justify-content: space-around;
  }
  
  

  /* lannding page */

.flex-item {
  position: relative;
  display: inline-block;
}

.flex-item img {
  margin-left: 30px;
  align-items: center;
  mix-blend-mode: multiply;
  display: flex;
  width: 85%;
  height: 50%;
  justify-content: center;
  margin-top: 10px;
  border-radius: 12px;
}

.item-body {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  font-weight: 450;
}

.item-stat {
  display: inline-block;
  width: 323px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
}

.item-check {
  display: inline-block;
  width: 150px;
  background-color: #ff9900;
  color: white;
  height: 40px;
  border: 1px solid;
  font-size: 15px;
  cursor: pointer;
}

.flex-item {
  width: 360px;
  height: 420px;
  border: 1px solid #ccc;
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.item-name {
  text-decoration: none;
  color: #454545;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.item__layout {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
}

.button2 {
  background-color: black;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 38px;
  width: 112px;
  font-size: 18px;
  margin-top: 15px;
  margin-left: 110px;
}

@media (max-width: 1135px) {
  .item__layout {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 740px) {
  .item__layout {
    grid-template-columns: 1fr;
    place-items: center;
  }
}